{
    "username": "????",
    "password": "????",
    
    "stores": [
        
        {
            "class": "Office Supply",
            "company_name": "????",
            "company_id": "????",
            "store_id": "????",
            "products":[
                {"name": "Bonsai", "min": 200, "buy": 1000},
                {"name": "Clock", "min": 200, "buy": 1000},
                {"name": "DVD Player", "min": 100, "buy": 600},
                {"name": "Radio", "min": 200, "buy": 1000},
                {"name": "Aquarium", "min": 20, "buy": 400},
                {"name": "Bed", "min": 20, "buy": 400},
                {"name": "Desktop Computer", "min": 20, "buy": 120},
                {"name": "Digital Camera", "min": 20, "buy": 400},
                {"name": "Executive Chair", "min": 20, "buy": 400},
                {"name": "Gaming Console", "min": 20, "buy": 400},
                {"name": "Light Bulb", "min": 800, "buy": 16000},
                {"name": "Mirror", "min": 20, "buy": 400},
                {"name": "Monitor", "min": 20, "buy": 400},
                {"name": "Printer", "min": 20, "buy": 400},
                {"name": "Scanner", "min": 20, "buy": 400},
                {"name": "Toilet", "min": 20, "buy": 400},
                {"name": "TV", "min": 20, "buy": 80},
                {"name": "Laptop Computer", "min": 20, "buy": 80}
            ]
        },
        
        {
            "class": "Apparel Store",
            "company_name": "????",
            "company_id": "????",
            "store_id": "????",
            "products": [
                {"name": "Scarf", "min": 40, "buy": 300},
                {"name": "Necktie", "min": 40, "buy": 300},
                {"name": "Bow Tie", "min": 40, "buy": 300},
                {"name": "Belt", "min": 40, "buy": 300},
                {"name": "Gloves", "min": 80, "buy": 600},
                {"name": "Stockings", "min": 50, "buy": 400},
                {"name": "Wallet", "min": 40, "buy": 300},
                {"name": "Hand Bag", "min": 20, "buy": 200},
                {"name": "Sunglasses", "min": 60, "buy": 500},
                {"name": "Leather Gloves", "min": 30, "buy": 300},
                {"name": "Sport Watch", "min": 80, "buy": 800},
                {"name": "T-Shirt", "min": 80, "buy": 800},
                {"name": "Dress Shirt", "min": 20, "buy": 200},
                {"name": "Dress Suit", "min": 10, "buy": 100},
                {"name": "Khaki Pants", "min": 40, "buy": 400},
                {"name": "Jeans", "min": 30, "buy": 300},
                {"name": "Shorts", "min": 50, "buy": 500},
                {"name": "Gown", "min": 20, "buy": 100},
                {"name": "Casual Dress", "min": 40, "buy": 400},
                {"name": "Wedding Dress", "min": 10, "buy": 80},
                {"name": "Skirt", "min": 80, "buy": 800},
                {"name": "Athletic Jacket", "min": 40, "buy": 400},
                {"name": "Leather Jacket", "min": 10, "buy": 60},
                {"name": "Sweater", "min": 30, "buy": 300},
                {"name": "Wool Coat", "min": 12, "buy": 60},
                {"name": "Fur Coat", "min": 10, "buy": 50},
                {"name": "Sport Shoes", "min": 30, "buy": 300},
                {"name": "Dress Shoes", "min": 20, "buy": 100},
                {"name": "Socks", "min": 80, "buy": 800},
                {"name": "Cap", "min": 80, "buy": 800},
                {"name": "Hat", "min": 40, "buy": 400},
                {"name": "Wig", "min": 30, "buy": 300},
                {"name": "Fur Hat", "min": 20, "buy": 100},
                {"name": "Designer Hand Bag", "min": 6, "buy": 24},
                {"name": "Designer Dress", "min": 6, "buy": 24},
                {"name": "Designer Belt", "min": 12, "buy": 48},
                {"name": "Designer Shoes", "min": 8, "buy": 32}
            ]
        },
        
        {
            "class": "Electronics Store",
            "company_name": "????",
            "company_id": "????",
            "store_id": "????",
            "products": [
                {"name": "Air Conditioner", "min": 12, "buy": 24},
                {"name": "Conventional Oven", "min": 12, "buy": 24},
                {"name": "CPU", "min": 12, "buy": 24},
                {"name": "Desktop Computer", "min": 12, "buy": 24},
                {"name": "Digital Camera", "min": 12, "buy": 24},
                {"name": "Dryer", "min": 12, "buy": 24},
                {"name": "DVD Player", "min": 12, "buy": 24},
                {"name": "Fan", "min": 24, "buy": 100},
                {"name": "Floor Lamp", "min": 12, "buy": 24},
                {"name": "Gaming Console", "min": 12, "buy": 24},
                {"name": "Integrated Circuit", "min": 12, "buy": 24},
                {"name": "Laptop Computer", "min": 12, "buy": 24},
                {"name": "Light Bulb", "min": 100, "buy": 1000},
                {"name": "Microprocessor", "min": 50, "buy": 500},
                {"name": "Microwave Oven", "min": 12, "buy": 24},
                {"name": "Monitor", "min": 12, "buy": 24},
                {"name": "Motherboard", "min": 12, "buy": 24},
                {"name": "Portable Heater", "min": 12, "buy": 24},
                {"name": "Printer", "min": 12, "buy": 24},
                {"name": "Radio", "min": 12, "buy": 24},
                {"name": "Scanner", "min": 12, "buy": 24},
                {"name": "Side-By-Side Refrigerator", "min": 12, "buy": 24},
                {"name": "Table Lamp", "min": 24, "buy": 240},
                {"name": "Top-Freezer Refrigerator", "min": 12, "buy": 24},
                {"name": "TV", "min": 12, "buy": 24},
                {"name": "Washer", "min": 12, "buy": 24},
                {"name": "Window AC", "min": 12, "buy": 24}
            ]
        }
       
    ],
    
    "urls": {
        "home": "http://www.ratjoy.com/eos/",
        "login": "http://www.ratjoy.com/login.php",
        "store_inv": "http://www.ratjoy.com/eos/stores-sell.php?fsid={0}",
        "store_lazyx2": "http://www.ratjoy.com/eos/stores-lazy.php?fsid={0}",
        "b2b_store": "http://www.ratjoy.com/eos/market-store.php?store={0}&page={1}",
        "b2b_buy": "http://www.ratjoy.com/eos/market-buy.php?market_prod_id={0}&buy_num={1}",
        "import_store": "http://www.ratjoy.com/eos/market-import-store.php?store={0}&page={1}",
        "import_buy": "http://www.ratjoy.com/eos/market-import-buy.php?market_prod_id={0}&buy_num={1}",
        "switch_company": "http://www.ratjoy.com/eos/settings-f-switch-start.php"
    },
    
    "store_classes": {
        "Apparel Store": {
            "b2b_id": 10,
            "import_id": 10
        },
        "Electronics Store": {
            "b2b_id": 8,
            "import_id": 8
        },
        "Office Supply": {
            "b2b_id": 2,
            "import_id": 2
        }
    }
}
