{
    "username": "????",
    "password": "????",
    
    "log-file": "economies_of_scale.log",
    
    "companies": [
        {
            "id": "1440",
            "name": "Bobs Orange Emporium",
            
            "stores": [
                {
                    "class": "Office Supply",
                    "id": "1782",
                    "products":[
                        {"name": "Bonsai", "min": 200, "buy": 1000},
                        {"name": "Clock", "min": 200, "buy": 1000},
                        {"name": "DVD Player", "min": 100, "buy": 600},
                        {"name": "Radio", "min": 200, "buy": 1000},
                        {"name": "Aquarium", "min": 20, "buy": 400},
                        {"name": "Bed", "min": 20, "buy": 400},
                        {"name": "Desktop Computer", "min": 20, "buy": 120},
                        {"name": "Digital Camera", "min": 20, "buy": 400},
                        {"name": "Executive Chair", "min": 20, "buy": 400},
                        {"name": "Gaming Console", "min": 20, "buy": 400},
                        {"name": "Light Bulb", "min": 800, "buy": 16000},
                        {"name": "Mirror", "min": 20, "buy": 400},
                        {"name": "Monitor", "min": 20, "buy": 400},
                        {"name": "Printer", "min": 20, "buy": 400},
                        {"name": "Scanner", "min": 20, "buy": 400},
                        {"name": "Toilet", "min": 20, "buy": 400},
                        {"name": "TV", "min": 20, "buy": 80},
                        {"name": "Laptop Computer", "min": 20, "buy": 80}
                    ]
                },
                {
                    "class": "Apparel Store",
                    "id": "5237",
                    "products": [
                        {"name": "Scarf", "min": 40, "buy": 300},
                        {"name": "Necktie", "min": 40, "buy": 300},
                        {"name": "Bow Tie", "min": 40, "buy": 300},
                        {"name": "Belt", "min": 40, "buy": 300},
                        {"name": "Gloves", "min": 80, "buy": 600},
                        {"name": "Stockings", "min": 50, "buy": 400},
                        {"name": "Wallet", "min": 40, "buy": 300},
                        {"name": "Hand Bag", "min": 20, "buy": 200},
                        {"name": "Sunglasses", "min": 60, "buy": 500},
                        {"name": "Leather Gloves", "min": 30, "buy": 300},
                        {"name": "Sport Watch", "min": 80, "buy": 800},
                        {"name": "T-Shirt", "min": 80, "buy": 800},
                        {"name": "Dress Shirt", "min": 20, "buy": 200},
                        {"name": "Dress Suit", "min": 10, "buy": 100},
                        {"name": "Khaki Pants", "min": 40, "buy": 400},
                        {"name": "Jeans", "min": 30, "buy": 300},
                        {"name": "Shorts", "min": 50, "buy": 500},
                        {"name": "Gown", "min": 20, "buy": 100},
                        {"name": "Casual Dress", "min": 40, "buy": 400},
                        {"name": "Wedding Dress", "min": 10, "buy": 80},
                        {"name": "Skirt", "min": 80, "buy": 800},
                        {"name": "Athletic Jacket", "min": 40, "buy": 400},
                        {"name": "Leather Jacket", "min": 10, "buy": 60},
                        {"name": "Sweater", "min": 30, "buy": 300},
                        {"name": "Wool Coat", "min": 12, "buy": 60},
                        {"name": "Fur Coat", "min": 10, "buy": 50},
                        {"name": "Sport Shoes", "min": 30, "buy": 300},
                        {"name": "Dress Shoes", "min": 20, "buy": 100},
                        {"name": "Socks", "min": 80, "buy": 800},
                        {"name": "Cap", "min": 80, "buy": 800},
                        {"name": "Hat", "min": 40, "buy": 400},
                        {"name": "Wig", "min": 30, "buy": 300},
                        {"name": "Fur Hat", "min": 20, "buy": 100},
                        {"name": "Designer Hand Bag", "min": 6, "buy": 24},
                        {"name": "Designer Dress", "min": 6, "buy": 24},
                        {"name": "Designer Belt", "min": 12, "buy": 48},
                        {"name": "Designer Shoes", "min": 8, "buy": 32}
                    ]
                },
                {
                    "class": "Food Court",
                    "id": "5420",
                    "products": [
                        {"name": "Apple Cider", "min": 200, "buy": 3000},
                        {"name": "Apple Juice", "min": 200, "buy": 3000},
                        {"name": "Apple Sorbet", "min": 200, "buy": 3000},
                        {"name": "Bacon", "min": 200, "buy": 3000},
                        {"name": "Banana Sorbet", "min": 200, "buy": 3000},
                        {"name": "Beef Sausage", "min": 200, "buy": 3000},
                        {"name": "Beer", "min": 200, "buy": 3000},
                        {"name": "Bottled Cappuccino", "min": 200, "buy": 3000},
                        {"name": "Bottled Water", "min": 200, "buy": 3000},
                        {"name": "Canned Coffee", "min": 200, "buy": 3000},
                        {"name": "Caramel Ice Cream", "min": 200, "buy": 3000},
                        {"name": "Cherry Cola", "min": 200, "buy": 3000},
                        {"name": "Cherry Sorbet", "min": 200, "buy": 3000},
                        {"name": "Chocolate Ice Cream", "min": 200, "buy": 3000},
                        {"name": "Chocolate Milk", "min": 200, "buy": 3000},
                        {"name": "Coconut Juice", "min": 200, "buy": 3000},
                        {"name": "Coconut Sorbet", "min": 200, "buy": 3000},
                        {"name": "Cola", "min": 200, "buy": 3000},
                        {"name": "Cookies N Cream Ice Cream", "min": 200, "buy": 3000},
                        {"name": "Energy Drink", "min": 200, "buy": 3000},
                        {"name": "Grape Juice", "min": 200, "buy": 3000},
                        {"name": "Grape Sorbet", "min": 200, "buy": 3000},
                        {"name": "Ham", "min": 200, "buy": 3000},
                        {"name": "Lemon Sorbet", "min": 200, "buy": 3000},
                        {"name": "Lemon-Lime", "min": 200, "buy": 3000},
                        {"name": "Lemonade", "min": 200, "buy": 3000},
                        {"name": "Lime Sorbet", "min": 200, "buy": 3000},
                        {"name": "Limeade", "min": 200, "buy": 3000},
                        {"name": "Mango Juice", "min": 200, "buy": 3000},
                        {"name": "Mango Sorbet", "min": 200, "buy": 3000},
                        {"name": "Milk in a Carton", "min": 200, "buy": 3000},
                        {"name": "Milk in a Jug", "min": 200, "buy": 3000},
                        {"name": "Neapolitan Ice Cream", "min": 200, "buy": 3000},
                        {"name": "Orange Juice", "min": 200, "buy": 3000},
                        {"name": "Orange Sorbet", "min": 200, "buy": 3000},
                        {"name": "Pineapple Juice", "min": 200, "buy": 3000},
                        {"name": "Pineapple Sorbet", "min": 200, "buy": 3000},
                        {"name": "Pork Sausage", "min": 200, "buy": 3000},
                        {"name": "Roast Beef", "min": 200, "buy": 3000},
                        {"name": "Root Beer", "min": 200, "buy": 3000},
                        {"name": "Rum", "min": 200, "buy": 3000},
                        {"name": "Salami", "min": 200, "buy": 3000},
                        {"name": "Strawberry Ice Cream", "min": 200, "buy": 3000},
                        {"name": "Strawberry Milk", "min": 200, "buy": 3000},
                        {"name": "Strawberry Sorbet", "min": 200, "buy": 3000},
                        {"name": "Vanilla Ice Cream", "min": 200, "buy": 3000},
                        {"name": "Vanilla Milk", "min": 200, "buy": 3000},
                        {"name": "Watermelon Juice", "min": 200, "buy": 3000},
                        {"name": "Watermelon Sorbet", "min": 200, "buy": 3000},
                        {"name": "Wine", "min": 200, "buy": 3000}
                    ]
                }
            ],
            
            "r&d centers": [
                {
                    "name": "Prospector 1",
                    "id": "2193",
                    "topics": [
                        {"name": "Lumber"}
                    ]
                },
                {
                    "name": "Prospector 2",
                    "id": "8194",
                    "topics": [
                        {"name": "Lumber"}
                    ]
                },
                {
                    "name": "Furniture R&D 1",
                    "id": "2590",
                    "topics": [
                        {"name": "Chair"},
                        {"name": "Dog House"},
                        {"name": "Dresser"},
                        {"name": "Nightstand"},
                        {"name": "Table"},
                        {"name": "Wood Floor"}
                    ]
                },
                {
                    "name": "Paper R&D 1",
                    "id": "2189",
                    "topics": [
                        {"name": "Paper"},
                        {"name": "Paper Towel"},
                        {"name": "Toilet Tissue"},
                        {"name": "Paper Napkin"}
                    ]
                },
                {
                    "name": "Paper R&D 2",
                    "id": "2190",
                    "topics": [
                        {"name": "Paper"},
                        {"name": "Paper Towel"},
                        {"name": "Toilet Tissue"},
                        {"name": "Paper Napkin"}
                    ]
                },
                {
                    "name": "Paper R&D 3",
                    "id": "2191",
                    "topics": [
                        {"name": "Paper"},
                        {"name": "Paper Towel"},
                        {"name": "Toilet Tissue"},
                        {"name": "Paper Napkin"}
                    ]
                },
                {
                    "name": "Paper R&D 4",
                    "id": "2192",
                    "topics": [
                        {"name": "Paper"},
                        {"name": "Paper Towel"},
                        {"name": "Toilet Tissue"},
                        {"name": "Paper Napkin"}
                    ]
                }
            ]
        },
        
        {
            "id": "4805",
            "name": "Bobs Grapefruit Emporium",
            
            "stores": [
                {
                    "class": "Electronics Store",
                    "id": "5105",
                    "products": [
                        {"name": "Air Conditioner", "min": 120, "buy": 240},
                        {"name": "Conventional Oven", "min": 120, "buy": 240},
                        {"name": "CPU", "min": 300, "buy": 2000},
                        {"name": "Desktop Computer", "min": 120, "buy": 240},
                        {"name": "Digital Camera", "min": 120, "buy": 240},
                        {"name": "Dryer", "min": 120, "buy": 240},
                        {"name": "DVD Player", "min": 120, "buy": 240},
                        {"name": "Fan", "min": 300, "buy": 2000},
                        {"name": "Floor Lamp", "min": 300, "buy": 2000},
                        {"name": "Gaming Console", "min": 120, "buy": 240},
                        {"name": "Integrated Circuit", "min": 120, "buy": 240},
                        {"name": "Laptop Computer", "min": 120, "buy": 240},
                        {"name": "Light Bulb", "min": 1000, "buy": 15000},
                        {"name": "Microprocessor", "min": 1000, "buy": 15000},
                        {"name": "Microwave Oven", "min": 240, "buy": 2400},
                        {"name": "Monitor", "min": 120, "buy": 240},
                        {"name": "Motherboard", "min": 120, "buy": 240},
                        {"name": "Portable Heater", "min": 240, "buy": 600},
                        {"name": "Printer", "min": 120, "buy": 240},
                        {"name": "Radio", "min": 400, "buy": 2400},
                        {"name": "Scanner", "min": 120, "buy": 240},
                        {"name": "Side-By-Side Refrigerator", "min": 120, "buy": 240},
                        {"name": "Table Lamp", "min": 400, "buy": 2400},
                        {"name": "Top-Freezer Refrigerator", "min": 120, "buy": 240},
                        {"name": "TV", "min": 120, "buy": 240},
                        {"name": "Washer", "min": 120, "buy": 240},
                        {"name": "Window AC", "min": 120, "buy": 240}
                    ]
                },
                {
                    "class": "Toy Store",
                    "id": "5909",
                    "products": [
                        {"name": "Action Figure", "min": 120, "buy": 240},
                        {"name": "Balloons", "min": 120, "buy": 240},
                        {"name": "Doll", "min": 120, "buy": 240},
                        {"name": "Remote Controlled Car", "min": 120, "buy": 240},
                        {"name": "Rubber Duck", "min": 120, "buy": 240},
                        {"name": "Rubik's Cube", "min": 120, "buy": 240},
                        {"name": "Stuffed Animal", "min": 120, "buy": 240},
                        {"name": "Toy Keyboard", "min": 120, "buy": 240},
                        {"name": "Water Gun", "min": 120, "buy": 240}
                    ]
                },
                {
                    "class": "Sports Store",
                    "id": "5907",
                    "products": [
                        {"name": "Baseball", "min": 120, "buy": 240},
                        {"name": "Baseball Bat", "min": 120, "buy": 240},
                        {"name": "Basketball", "min": 120, "buy": 240},
                        {"name": "Belt", "min": 120, "buy": 240},
                        {"name": "Bicycle", "min": 120, "buy": 240},
                        {"name": "Bicycle Helmet", "min": 120, "buy": 240},
                        {"name": "Bow Set", "min": 120, "buy": 240},
                        {"name": "Bow Tie", "min": 120, "buy": 240},
                        {"name": "Fishing Rod", "min": 120, "buy": 240},
                        {"name": "Football", "min": 120, "buy": 240},
                        {"name": "Gloves", "min": 120, "buy": 240},
                        {"name": "Golf Ball", "min": 120, "buy": 240},
                        {"name": "Golf Club Set", "min": 120, "buy": 240},
                        {"name": "Golf Gloves", "min": 120, "buy": 240},
                        {"name": "Golf Stand Bag", "min": 120, "buy": 240},
                        {"name": "Hand Bag", "min": 120, "buy": 240},
                        {"name": "Leather Gloves", "min": 120, "buy": 240},
                        {"name": "Necktie", "min": 120, "buy": 240},
                        {"name": "Scarf", "min": 120, "buy": 240},
                        {"name": "Sleeping Bag", "min": 120, "buy": 240},
                        {"name": "Snorkel", "min": 120, "buy": 240},
                        {"name": "Soccer Ball", "min": 120, "buy": 240},
                        {"name": "Sport Watch", "min": 120, "buy": 240},
                        {"name": "Stockings", "min": 120, "buy": 240},
                        {"name": "Sunglasses", "min": 120, "buy": 240},
                        {"name": "Surfboard", "min": 120, "buy": 240},
                        {"name": "Swim Fin", "min": 120, "buy": 240},
                        {"name": "Swim Goggle", "min": 120, "buy": 240},
                        {"name": "Swim Suit", "min": 120, "buy": 240},
                        {"name": "Tennis Ball", "min": 120, "buy": 240},
                        {"name": "Tennis Racquet", "min": 120, "buy": 240},
                        {"name": "Wallet", "min": 120, "buy": 240}
                    ]
                }
            ],
            
            "r&d centers": [
                {
                    "name": "Industrial R&D 1",
                    "id": "6584",
                    "topics": [
                        {"name": "Silicon"},
                        {"name": "Tungsten Powder"}
                    ]
                },
                {
                    "name": "Industrial R&D 2",
                    "id": "6585",
                    "topics": [
                        {"name": "Silicon"},
                        {"name": "Tungsten Powder"}
                    ]
                },
                {
                    "name": "Electronics R&D 1",
                    "id": "6610",
                    "topics": [
                        {"name": "Integrated Circuit"},
                        {"name": "CPU"}
                    ]
                },
                {
                    "name": "Electronics R&D 2",
                    "id": "6612",
                    "topics": [
                        {"name": "Integrated Circuit"},
                        {"name": "CPU"}
                    ]
                },
                {
                    "name": "Prospector 1",
                    "id": "6719",
                    "topics": [
                        {"name": "Coal"},
                        {"name": "Tungsten Ore"},
                        {"name": "Silica Sand"}
                    ]
                },
                {
                    "name": "Prospector 2",
                    "id": "6722",
                    "topics": [
                        {"name": "Coal"},
                        {"name": "Tungsten Ore"},
                        {"name": "Silica Sand"}
                    ]
                }
            ]
        }
    ],
    
    "urls": {
        "home": "http://www.ratjoy.com/eos/",
        "login": "http://www.ratjoy.com/login.php",
        "store_inv": "http://www.ratjoy.com/eos/stores-sell.php?fsid={0}",
        "store_lazyx2": "http://www.ratjoy.com/eos/stores-lazy.php?fsid={0}",
        "b2b_store": "http://www.ratjoy.com/eos/market-store.php?store={0}&page={1}",
        "b2b_buy": "http://www.ratjoy.com/eos/market-buy.php?market_prod_id={0}&buy_num={1}",
        "import_store": "http://www.ratjoy.com/eos/market-import-store.php?store={0}&page={1}",
        "import_buy": "http://www.ratjoy.com/eos/market-import-buy.php?market_prod_id={0}&buy_num={1}",
        "switch_company": "http://www.ratjoy.com/eos/settings-f-switch-start.php",
        "r&d_page": "http://www.ratjoy.com/eos/rnd-res.php?frid={0}",
        "start_r&d": "http://www.ratjoy.com/eos/rnd-res-start.php?frid={0}&rc_pid={1}"
    },
    
    "store_classes": {
        "Apparel Store": {
            "b2b_id": 10,
            "import_id": 10
        },
        "Electronics Store": {
            "b2b_id": 8,
            "import_id": 8
        },
        "Office Supply": {
            "b2b_id": 2,
            "import_id": 2
        },
        "Food Court": {
            "b2b_id": 16,
            "import_id": 16
        },
        "Toy Store": {
            "b2b_id": 14,
            "import_id": 14
        },
        "Sports Store": {
            "b2b_id": 9,
            "import_id": 9
        }
    }
}
