{
	"username": "????",
	"password": "????",
    
    "stores": [
        
        {
            "name": "Primary Office Supplies",
            "company_name": "????",
            "company_id": "????",
            "store_id": "????",
            "products":[
                {"name": "Bonsai", "min": 200, "buy": 1000},
                {"name": "Clock", "min": 200, "buy": 1000},
                {"name": "DVD Player", "min": 100, "buy": 600},
                {"name": "Radio", "min": 200, "buy": 1000},
                {"name": "Aquarium", "min": 20, "buy": 400},
                {"name": "Bed", "min": 20, "buy": 400},
                {"name": "Desktop Computer", "min": 20, "buy": 120},
                {"name": "Digital Camera", "min": 20, "buy": 400},
                {"name": "Executive Chair", "min": 20, "buy": 400},
                {"name": "Gaming Console", "min": 20, "buy": 400},
                {"name": "Light Bulb", "min": 800, "buy": 16000},
                {"name": "Mirror", "min": 20, "buy": 400},
                {"name": "Monitor", "min": 20, "buy": 400},
                {"name": "Printer", "min": 20, "buy": 400},
                {"name": "Scanner", "min": 20, "buy": 400},
                {"name": "Toilet", "min": 20, "buy": 400},
                {"name": "TV", "min": 20, "buy": 80},
                {"name": "Laptop Computer", "min": 20, "buy": 80}
            ]
        },
        
        {
            "name": "Primary Apparal Store",
            "company_name": "????",
            "company_id": "????",
            "store_id": "????",
            "products": [
                {"name": "Scarf", "min": 40, "buy": 300},
                {"name": "Necktie", "min": 40, "buy": 300},
                {"name": "Bow Tie", "min": 40, "buy": 300},
                {"name": "Belt", "min": 40, "buy": 300},
                {"name": "Gloves", "min": 80, "buy": 600},
                {"name": "Stockings", "min": 50, "buy": 400},
                {"name": "Wallet", "min": 40, "buy": 300},
                {"name": "Hand Bag", "min": 20, "buy": 200},
                {"name": "Sunglasses", "min": 60, "buy": 500},
                {"name": "Leather Gloves", "min": 30, "buy": 300},
                {"name": "Sport Watch", "min": 80, "buy": 800},
                {"name": "T-Shirt", "min": 80, "buy": 800},
                {"name": "Dress Shirt", "min": 20, "buy": 200},
                {"name": "Dress Suit", "min": 10, "buy": 100},
                {"name": "Khaki Pants", "min": 40, "buy": 400},
                {"name": "Jeans", "min": 30, "buy": 300},
                {"name": "Shorts", "min": 50, "buy": 500},
                {"name": "Gown", "min": 20, "buy": 100},
                {"name": "Casual Dress", "min": 40, "buy": 400},
                {"name": "Wedding Dress", "min": 10, "buy": 80},
                {"name": "Skirt", "min": 80, "buy": 800},
                {"name": "Athletic Jacket", "min": 40, "buy": 400},
                {"name": "Leather Jacket", "min": 10, "buy": 60},
                {"name": "Sweater", "min": 30, "buy": 300},
                {"name": "Wool Coat", "min": 12, "buy": 60},
                {"name": "Fur Coat", "min": 10, "buy": 50},
                {"name": "Sport Shoes", "min": 30, "buy": 300},
                {"name": "Dress Shoes", "min": 20, "buy": 100},
                {"name": "Socks", "min": 80, "buy": 800},
                {"name": "Cap", "min": 80, "buy": 800},
                {"name": "Hat", "min": 40, "buy": 400},
                {"name": "Wig", "min": 30, "buy": 300},
                {"name": "Fur Hat", "min": 20, "buy": 100},
                {"name": "Designer Hand Bag", "min": 6, "buy": 24},
                {"name": "Designer Dress", "min": 6, "buy": 24},
                {"name": "Designer Belt", "min": 12, "buy": 48},
                {"name": "Designer Shoes", "min": 8, "buy": 32}
            ]
        },
        
        {
            "name": "Primary Electronics Store",
            "company_name": "????",
            "company_id": "????",
            "store_id": "????",
            "products": [
                {"name": "Air Conditioner", "min": 6, "buy": 12},
                {"name": "Conventional Oven", "min": 6, "buy": 12},
                {"name": "CPU", "min": 6, "buy": 12},
                {"name": "Desktop Computer", "min": 6, "buy": 12},
                {"name": "Digital Camera", "min": 6, "buy": 12},
                {"name": "Dryer", "min": 6, "buy": 12},
                {"name": "DVD Player", "min": 6, "buy": 12},
                {"name": "Fan", "min": 6, "buy": 12},
                {"name": "Floor Lamp", "min": 6, "buy": 12},
                {"name": "Gaming Console", "min": 6, "buy": 12},
                {"name": "Integrated Circuit", "min": 6, "buy": 12},
                {"name": "Laptop Computer", "min": 6, "buy": 12},
                {"name": "Light Bulb", "min": 12, "buy": 124},
                {"name": "Microprocessor", "min": 6, "buy": 12},
                {"name": "Microwave Oven", "min": 6, "buy": 12},
                {"name": "Monitor", "min": 6, "buy": 12},
                {"name": "Motherboard", "min": 6, "buy": 12},
                {"name": "Portable Heater", "min": 6, "buy": 12},
                {"name": "Printer", "min": 6, "buy": 12},
                {"name": "Radio", "min": 6, "buy": 12},
                {"name": "Scanner", "min": 6, "buy": 12},
                {"name": "Side-By-Side Refrigerator", "min": 6, "buy": 12},
                {"name": "Table Lamp", "min": 6, "buy": 12},
                {"name": "Top-Freezer Refrigerator", "min": 6, "buy": 12},
                {"name": "TV", "min": 6, "buy": 12},
                {"name": "Washer", "min": 6, "buy": 12},
                {"name": "Window AC", "min": 6, "buy": 12}
            ]
        }
       
    ],
    
    "urls": {
        "home": "http://www.ratjoy.com/eos/",
		"login": "http://www.ratjoy.com/login.php",
		"store_inv": "http://www.ratjoy.com/eos/stores-sell.php?fsid={0}",
        "store_lazyx2": "http://www.ratjoy.com/eos/stores-lazy.php?fsid={0}",
		"import_cat": "http://www.ratjoy.com/eos/market-import-cat.php?cat={0}&page={1}",
		"buy_page": "http://www.ratjoy.com/eos/market-import-buy.php?market_prod_id={0}&buy_num={1}",
        "switch_company": "http://www.ratjoy.com/eos/settings-f-switch-start.php"
	}
}